.pages {
    padding-bottom: 2%;
}
.pages .table-title {
    font-size: 18px;
    font-weight: 500;
    color: #2D3748;
    margin-bottom: 10px;
}
.pages .table-sub-title {
    font-size: 15px;
    color: #A0AEC0;
}
.pages .filter-form .filter-search-button {
    margin: auto;
    color: white;
    background: #1F9254;
    border: 1px solid #1F9254;
    font-size: 15px;
    border-radius: 3px;
    width: 49%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.pages .filter-form .filter-search-button:hover {
    color: #1F9254;
    background: var(--white);
    transition: all 0.3s;
}
.pages .filter-form .filter-reset-button {
    margin: auto;
    color: white;
    background: #E53E3E;
    border: 1px solid #E53E3E;
    font-size: 15px;
    border-radius: 3px;
    width: 49%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.pages .filter-form .filter-reset-button:hover {
    color: #E53E3E;
    background: var(--white);
    transition: all 0.3s;
}
.pages .filter-form .form-select {
    color: #9A9A9A;
    font-size: 14px;
}
.pages .add-button {
    font-size: 13px;
    background-color: #0040C3;
    border: 1px solid #0040C3;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 0.3s;
}
.pages .add-button:hover {
    color: #0040C3;
    background: var(--white);
    transition: all 0.3s;
}
.pages .add-button i {
    font-size: 15px;
    margin-right: 7px;
}
.pages .table th {
    font-size: 15px;
    font-weight: 600;
    border: none;
    padding: 10px;
}
.pages .table tr td {
    border: none;
    font-size: 13px;
    color: var(--black);
    vertical-align: middle;
    padding: 10px;
    background-color: #F7F6FE;
    font-weight: 600;
}
.pages .table .active-status {
    font-size: 12px;
    color: #1F9254;
    background: #DFFDEC;
    padding: 5px 15px;
    border-radius: 20px;
}
.pages .table .pending-status {
    font-size: 12px;
    color: #afb714;
    background: #faffc6;
    padding: 5px 15px;
    border-radius: 20px;
}
.pages .table .inactive-status {
    font-size: 12px;
    color: #E53E3E;
    background: #FFE2E2;
    padding: 5px 15px;
    border-radius: 20px;
}
.pages .table .exam-questions-button, .pages .table .information-button, .pages .table .review-button, .pages .table .edit-button, .pages .table .delete-button, .pages .table .send-button, .pages .table .courses-button {
    font-size: 20px;
    -webkit-text-stroke: 0.5px;
    margin: 0 7px;
    cursor: pointer;
}
.pages .table .exam-questions-button {
    color: #fd0d80;
}
.pages .table .information-button {
    color: #088813;
}
.pages .table .courses-button {
    color: #f2db09;
    color: black;
}
.pages .table .review-button {
    color: #8d9c08;
}
.pages .table .edit-button {
    color: #0040C3;
}
.pages .table .send-button {
    color: #ecb211;
}
.pages .table .delete-button {
    color: #E53E3E;
}
.pages .table .line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pages .modal .modal-content {
    border-radius: 0;
    padding: 10px;
}
.pages .modal .modal-title {
    font-size: 21px;
    color: #E53E3E;
    font-weight: 500;
    letter-spacing: 0.8px;
}
.pages .modal .modal-message {
    color: var(--black);
    font-size: 15px;
}
.pages .modal .delete-button {
    color: var(--white);
    background: #E53E3E;
    font-size: 15px;
    border-radius: 0;
    padding: 5px 20px;
    transition: all 0.3s;
}
.pages .modal .delete-button:hover {
    color: #E53E3E;
    background: var(--white);
    border: 1px solid #E53E3E;
    transition: all 0.3s;
}
.pages .modal .close-button {
    color: var(--white);
    background: #0040C3;
    font-size: 15px;
    border-radius: 0;
    padding: 5px 20px;
    transition: all 0.3s;
}
.pages .modal .close-button:hover {
    color: #0040C3;
    background: var(--white);
    border: 1px solid #0040C3;
    transition: all 0.3s;
}
.pages .pagination-form {
    margin-bottom: 10px;
    font-size: 12px;
}
.pages .pagination {
    margin-bottom: 0;
}
.pages .pagination .page-link {
    font-size: 13px;
    color: var(--black);
    border-radius: 0;
}
.pages .pagination .page-link:focus {
    box-shadow: none;
}
.pages .pagination .active .page-link {
    color: var(--white);
    background-color: #0040C3;
    border-color: #0040C3;
}
.pages .table-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.pages .modal .send-button {
    color: var(--white);
    background: #b4a006;
    font-size: 15px;
    border-radius: 0;
    padding: 5px 20px;
    transition: all 0.3s;
}
.pages .modal .send-button:hover {
    color: #b4a006;
    background: var(--white);
    border: 1px solid #b4a006;
    transition: all 0.3s;
}



/* .pages .submit-button {
    margin: auto;
    color: white;
    background: #0040C3;
    border: 0;
    font-size: 15px;
    border-radius: 3px;
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.pages .submit-button:hover {
    color: #0040C3;
    background: var(--white);
    border: 1px solid #0040C3;
    transition: all 0.3s;
}
.pages .static-image {
    height: 125px;
    object-fit: cover;
}
.pages .toggle-password {
    color: #9A9A9A;
    cursor: pointer;
    position: absolute;
    top: 45px;
    font-size: 20px;
    right: 25px;
} */