/* Main menu */
  .wrapper .sidebar {
      position: fixed;
      z-index: 9999;
      top: 100px;
  }
  .wrapper .sidebar .main-menu {
      position: relative;
      background-color: #0040C3;
      height: 100vh;
      width: 70px;
      padding: 10px 0;
      list-style-type: none;
      transition: width 0.3s;
  }
  .wrapper .sidebar .main-menu .main-menu-link {
      position: relative;
      padding: 15px 10px;
      cursor: pointer;
  }
  .wrapper .sidebar .main-menu .main-menu-link:last-child {
      margin-bottom: 0;
  }
  .wrapper .sidebar .main-menu .main-menu-link a {
      color: white;
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
  }
  .wrapper .sidebar .main-menu .main-menu-link a img {
      filter: invert(1) brightness(10);
      height: 25px;
  }
  .wrapper .sidebar .main-menu .main-menu-link a span {
      font-size: 14px;
      display: none;
  }
  .wrapper .sidebar .main-menu:hover {
      width: 200px;
  }
  .wrapper .sidebar .main-menu:hover > .main-menu-link a {
      justify-content: initial;
  }
  .wrapper .sidebar .main-menu:hover > .main-menu-link a span {
      display: block;
  }
  .wrapper .sidebar .main-menu .main-menu-link:hover {
      background-color: #F7BF2E;
  }
  .wrapper .sidebar .main-menu .main-menu-link:hover > a {
      color: black;
  }
  .wrapper .sidebar .main-menu .main-menu-link:hover > a img {
      filter: brightness(0);
      height: 25px;
  }
  .wrapper .sidebar .main-menu .main-menu-link:hover > .sub-menu {
      display: block;
  }
/* Main menu */


/* Sub menu */
  .wrapper .sidebar .sub-menu {
      position: absolute;
      background-color: #F7BF2E;
      height: auto;
      width: 225px;
      top: 0;
      left: 100%;
      padding: 0;
      list-style-type: none;
      display: none;
      transition: opacity 0.3s, visibility 0.3s;
  }
  .wrapper .sidebar .sub-menu .sub-menu-link {
      position: relative;
      padding: 15px 20px;
      cursor: pointer;
  }
  .wrapper .sidebar .sub-menu .sub-menu-link:last-child {
      margin-bottom: 0;
  }
  .wrapper .sidebar .sub-menu .sub-menu-link a {
      color: black;
      display: flex;
      gap: 15px;
      align-items: center;
  }
  .wrapper .sidebar .sub-menu .sub-menu-link a img {
      filter: brightness(0);
      height: 25px;
  }
  .wrapper .sidebar .sub-menu .sub-menu-link:hover {
      background-color: #0040C3;
  }
  .wrapper .sidebar .sub-menu .sub-menu-link:hover > .sub-sub-menu {
      display: block;
  }
  .wrapper .sidebar .sub-menu .sub-menu-link:hover > a {
      color: white;
  }
  .wrapper .sidebar .sub-menu .sub-menu-link:hover > a img {
      filter: invert(1) brightness(10);
  }
/* Sub menu */


/* Sub sub menu */
  .wrapper .sidebar .sub-sub-menu {
      position: absolute;
      background-color: #F7BF2E;
      height: auto;
      width: 220px;
      top: 0;
      left: 100%;
      padding: 0;
      list-style-type: none;
      display: none;
      transition: opacity 0.3s, visibility 0.3s;
  }
  .wrapper .sidebar .sub-sub-menu .sub-sub-menu-link {
      padding: 15px 20px;
      cursor: pointer;
  }
  .wrapper .sidebar .sub-sub-menu .sub-sub-menu-link:last-child {
      margin-bottom: 0;
  }
  .wrapper .sidebar .sub-sub-menu .sub-sub-menu-link a {
      color: black!important;
      font-size: 14px;
  }
  .wrapper .sidebar .sub-sub-menu .sub-sub-menu-link:hover {
      background-color: #0040C3;
  }
  .wrapper .sidebar .sub-sub-menu .sub-sub-menu-link:hover > a {
      color: white!important;
  }
  .wrapper .sidebar .sub-sub-menu .sub-sub-menu-link:hover > a img {
    filter: invert(1) brightness(10);
}
/* Sub sub menu */