.card-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.card-subtitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}
body {
    font-family: 'Poppins', sans-serif !important;
    padding-top: 80px; /* Adjust this value to the height of your navbar */
}
.card {
    background-color: #f8f8f8ff !important;
}
.text-primary {
    color: #19191bff !important;
}
.text-info {
    color: #0040c3ff !important;
}
.text-muted {
    color: #898989ff !important;
}
.container {
    max-width: 1240px;
    margin-bottom: 40px;
}
.gap-32 {
    margin-bottom: 32px;
}
.modal-dialog {
    max-width: 1194px;
    margin: 30px auto;
}
.modal-content {
    border-radius: 24px;
    width: 100%;
    height: 608px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    padding: 0;
    position: relative;
}
.close {
    padding: 0;
    background: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}
.close img {
    width: 28px;
    height: 28px;
}
.modal-body {
    display: flex;
    width: 100%;
    padding: 0;
}
.popup-image {
    width: 451px;
    height: 608px;
    object-fit: cover;
    border-radius: 24px 0 0 24px;
}
.popup-content {
    width: calc(100% - 451px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.popup-info h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: #000;
    margin-bottom: 8px;
}
.popup-info h4 {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #0040c3;
    margin-bottom: 16px;
}
.popup-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #505050;
}
.social-icons {
    margin-top: 24px;
}
.social-icons img {
    width: 16px;
    height: 16px;
    margin-right: 16px;
}
.gpni-logo {
    width: 146px;
    height: 43px;
    flex-shrink: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
