body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    padding: 40px 20px;
}

.card-container {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    /* gap between cards */
}

.conference-card {
    width: 606px;
    height: 200px;
    padding: 21px 28px;
    background: #fff;
    border: 0.69px solid #d7d7d7;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.conference-card .text-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conference-card .text-section .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0e0e0e;
}

.conference-card .text-section .item {
    display: flex;
    align-items: center;
    gap: 7px;
}

.conference-card .text-section .item .label {
    font-weight: 500;
    font-size: 16px;
    color: #505050;
}

.conference-card .text-section .item .value {
    font-weight: 400;
    font-size: 16px;
    color: #505050;
}

.conference-card .view-more {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #0040c3;
}

.conference-card .view-more img {
    width: 17px;
    height: 17px;
}

/*.heading {
    text-align: center;
    font-size: 61px;
    font-weight: 600;
    margin-bottom: 40px;
}*/
.heading {
    text-align: center;
    /* Center-align the text */
    color: #0E0E0E;
    /* Set the text color */
    font-family: 'Poppins', sans-serif;
    /* Set the font family */
    font-size: 61px;
    /* Set the font size */
    font-style: normal;
    /* Set the font style */
    font-weight: 500;
    /* Set the font weight */
    line-height: 120%;
    /* Line height at 120% */
    margin-bottom: 40px;
}

/* Media queries for responsiveness */
@media (max-width: 1240px) {
    .card-container {
        width: 100%;
        padding: 10px;
        gap: 20px;
    }

    .conference-card {
        width: 100%;
    }
}