.course-details-container {
    background-color: #fff;
}
.course-title {
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    color: #0e0e0e;
    margin-bottom: 30px;
}
.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #0e0e0e;
    margin-bottom: 0;
}
.content {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #505050;
    margin-bottom: 35px;
}
.return-link {
    display: flex;
    align-items: center;
    color: #0040c3;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 20px;
}
.return-link img {
    margin-right: 5px;
}
.accordion-item {
    margin-bottom: 20px;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-item {
    border: none;
}
.accordion-button {
    border: 1px solid #505050;
    padding: 20px 32px;
    font-size: 18px;
    font-weight: 500;
    color: #0e0e0e;
    transition: background-color 0.2s;
    border-radius: 0!important;
}
.accordion-button.active {
    background-color: #f1f1f1;
}
.chapter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}
.btn-download {
    color: white;
    background-color: #0040c3;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s;
    text-decoration: none;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-download:hover {
    background-color: #002c82; /* Optional: Styles for hover effect */
}
.video-player {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.accordion p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #080808;
    margin: 0;
}
.link-item {
    font-size: 16px;
    margin-bottom: 15px;
}
.link-item a {
    text-decoration: none;
    color: #080808;
}
.info-note {
    background: rgba(0, 64, 195, 0.10);
    width: 100%;
    padding: 20px 32px;
    border-radius: 5px;
    color: #0040c3!important;
    font-size: 20px;
}
.note-content {
    display: flex;
    align-items: center;
}
.note-content img {
    margin-right: 10px;
}