.exam-header {
    padding: 0 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.exam-title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.exam-title {
    font-size: 40px;
    font-weight: 500;
    color: #1e1e1e;
    margin: 0;
}
.exam-details {
    font-size: 20px;
    color: #505050;
    margin-top: 8px;
    margin-bottom: 0;
}
.return {
    color: #0040c3;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.return img {
    margin-right: 10px;
}
.exam-result {
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #0040c3;
    background-color: #f4f8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-item {
    color: #0040c3;
}
.result-heading {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
}
.result-value {
    font-weight: 500;
    font-size: 24px;
}
.result-highlight {
    background-color: rgba(45, 185, 143, 0.10);
    border-radius: 10px;
    padding: 15px 50px;
    color: #2db98f;
}
.result-highlight-fail {
    border-radius: 10px;
    background-color: rgba(234, 67, 53, 0.10);
    padding: 15px 50px;
    color: #ea4335;
}
.question-answer {
    margin-bottom: 50px;
}
.question-card {
    padding: 0 100px;
    margin-bottom: 20px;
}
.question-card:last-child {
    margin-bottom: 0;
}
.question-card .info{
    background: #fcfcfcff;
    border-radius: 20px;
    border: 1px solid #e9e9e9ff;
    padding: 25px;
}
.info {
    display: flex;
    flex-direction: column;
}
.info .form-check {
    padding-left: 0;
    display: flex;
    align-items: center;
}
.info div {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
}
.answers {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 16px;
}
.radio {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #B8D0FF;
    margin-right: 12px;
    background-color: #fff;
    accent-color: blue;
    margin-right: 10px;
    transition: all 0.3s;
}
.status {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px!important;
    width: 40%;
}
.status img {
    margin-right: 10px;
}
.status.correct {
    background: #2db98f1a;
    color: #2db98f;
}
.status.incorrect {
    background: #ea43351a;
    color: #ea4335;
}
.status.unattempted {
    background: #5050501a;
    color: #505050;
}