body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    padding-top: 120px;
}

.card-custom {
    border-radius: 10px;
    position: relative;
    background: white;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.radio-container {
    display: flex;
    align-items: center;
    padding: 25px;
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.radio-container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-custom {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #D9DDE0;
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
}

.radio-container input[type="radio"]:checked~.radio-custom {
    border-color: #0040C3;
    background: #ffffff;
}

.radio-custom::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #0040C3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.radio-container input[type="radio"]:checked~.radio-custom::after {
    opacity: 1;
}

.payment-option-title {
    font-size: 25px;
    font-weight: 500;
    color: #505050;
}

.payment-option-subtitle {
    color: #9A9A9A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 0;
}

.payment-option-subtitle ul {
    margin: 0;
}

.payment-option-subtitle li {
    list-style-type: disc;
}

.coupon-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background: rgba(120, 164, 254, 0.06);
    color: #0040c3;
    margin-top: 100px;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.coupon-code .couple-code-number {
    padding: 8px;
    border-radius: 10px;
    border: 0.5px solid #78A4FE;
    letter-spacing: 3px;
}

.order-details {
    background-color: #0040c3;
    background-image: url('../../../storage/frontend/order-details-background.svg');
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 15px;
    padding: 30px;
    color: white;
    height: 100%;
    margin: auto;
}

.order-details h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

.order-details h1 {
    font-size: 39px;
    font-weight: 500;
    line-height: 120%;
}

.order-details .total-amount {
    font-size: 39px;
    font-weight: 500;
    line-height: 120%;
    text-align: right;
    color: white;
}

.order-details .title {
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
}

.order-details .section-subtitle {
    font-size: 13px;
    font-weight: 300;
    line-height: 120%;
}

.order-details .PNE-level {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.line {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 10px 0;
}

.page-title {
    color: var(--Colors-Neutral, #0E0E0E);
    font-family: Poppins;
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.radio-container input[type="radio"]:checked~.radio-custom~div {
    border-color: #0040C3;
}

.radio-container input[type="radio"]:checked~.radio-custom~div .payment-option-title,
.radio-container input[type="radio"]:checked~.radio-custom~div .payment-option-subtitle {
    color: #0040C3;
}

.radio-container input[type="radio"]:checked~.radio-custom~.card-custom {
    border-color: #0040C3;
    /* Blue color */
}

.additional-option {
    /* display: none; */
    text-align: center;
    margin-bottom: 35px;
}

input[type="radio"][name="paymentMethod"][value="oneTimePayment"]:checked~.additional-option {
    display: block;
}

@media (max-width: 768px) {
    .radio-custom {
        width: 20px;
        height: 20px;
    }

    .radio-custom::after {
        width: 10px;
        height: 10px;
    }

    .payment-option-title {
        font-size: 22px;
    }

    .payment-option-subtitle {
        font-size: 14px;
    }

    .coupon-code {
        font-size: 22px;
        margin-top: 50px;
    }

    .coupon-code .couple-code-number {
        font-size: 18px;
    }

    .order-details h1 {
        font-size: 35px;
    }

    .order-details h3 {
        font-size: 14px;
    }

    .order-details .total-amount {
        font-size: 35px;
    }

    .order-details .title {
        font-size: 18px;
    }

    .order-details .section-subtitle {
        font-size: 12px;
    }

    .order-details .PNE-level {
        font-size: 18px;
    }

    .page-title {
        font-size: 35px;
    }
}

@media (max-width: 576px) {
    .radio-custom {
        width: 16px;
        height: 16px;
    }

    .radio-custom::after {
        width: 8px;
        height: 8px;
    }

    .payment-option-title {
        font-size: 20px;
    }

    .payment-option-subtitle {
        font-size: 12px;
    }

    .coupon-code {
        font-size: 20px;
        margin-top: 30px;
    }

    .coupon-code .couple-code-number {
        font-size: 16px;
    }

    .order-details h1 {
        font-size: 30px;
    }

    .order-details h3 {
        font-size: 12px;
    }

    .order-details .total-amount {
        font-size: 30px;
    }

    .order-details .title {
        font-size: 16px;
    }

    .order-details .section-subtitle {
        font-size: 10px;
    }

    .order-details .PNE-level {
        font-size: 16px;
    }

    .page-title {
        font-size: 30px;
    }
}


.information-box {
    display: flex;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 183, 0, 0.06);
    margin-top: 10px;
    font-weight: 500;
}

.information-box p {
    margin: 0;
    color: #FFB700;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
}

.information-box img {
    margin-right: 15px;
    vertical-align: middle;
}

#pay-now-radio:checked~.order-details .pay-now-button {
    display: block;
}

.pay-now {
    display: block;
    width: 100%;
    background: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    transition: all 0.3s;
}
.pay-now:hover {
    background-color: black;
    color: white;
    transition: all 0.3s;
}