#exam-container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-section {
    background-color: #f3f7ff;
    margin-bottom: 45px;
    padding: 30px;
}
.title-section {
    color: #0040c3;
}
.title-section h1 {
    font-weight: 500;
    font-size: 40px;
    margin: 0;
}
.title-section p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}
.instructions {
    color: #505050;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}
.instructions ul {
    margin-bottom: 0;
}
.instructions li {
    margin-bottom: 10px;
}
.instructions li:last-child {
    margin-bottom: 0;
}
.timer-section {
    text-align: right;
}
.remaining-time, .countdown {
    font-weight: 500;
    color: #0040c3;
    margin: 0;
}
.remaining-time {
    font-size: 12px;
}
.countdown {
    font-size: 40px;
}

.bottom-section {
    margin-bottom: 45px;
}
.question {
    font-size: 18px;
}
.options {
    margin-top: 20px;
}
.option {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.radio {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #B8D0FF;
    margin-right: 12px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.radio-inner {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s;
}
.radio.selected .radio-inner {
    background-color: #1957D6;
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.button {
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}
.prev-button {
    border: 1px solid #EDF0F7;
    color: #898989;
}
.next-button {
    border: 1px solid #0040C3;
    color: #0040C3;
}
.disabled {
    color: #B8D0FF;
    border-color: #EDF0F7;
    cursor: not-allowed;
}
.radio.active {
    border-color: #0040C3 !important;
    color: #0040C3 !important;
    cursor: pointer;
}
.radio-inner.active {
    background-color: #0040C3;
}

.remaining-questions-count {
    font-weight: 500;
    font-size: 16px;
    color: #ea4335;
    text-align: right;
}
.question-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px;
}
.question-box {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    background-color: #fff;
    color: #1957d6;
    border: 1px solid #1957d6;
    transition: all 0.3s;
    margin: 0;
}
.question-box.attempted {
    background-color: #0040c3;
    color: #fff;
}
/* .question-box img {
    width: 20px;
    height: 20px;
} */
.legend-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #303030;
}
.legend-section img {
    width: 11px;
    height: 11px;
    margin-right: 5px;
}
.finish-exam-btn {
    background-color: #0040c3;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}
.finish-exam-btn:hover {
    background-color: #0a3385;
    transition: all 0.3s;
}
#exam-container .modal-content {
    background-color: cornsilk;
}
.modal-content {
    border: none;
    box-shadow: none;
    border-radius: 8px;
}
.modal-footer {
    justify-content: center;
    border: 0;
    padding-top: 0;
    align-items: center;
}
.dialog-header {
    color: #0e0e0e;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
}
.dialog-message,
.description {
    color: #898989;
    font-size: 16px;
}
.cancel-button {
    background: none;
    border: none;
    color: #0040c3ff;
    font-size: 14px;
    cursor: pointer;
}
.confirm-button,
.btn-primary {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.confirm-button:hover,
.btn-primary:hover {
    background-color: #004494;
}
.return-link {
    display: flex;
    align-items: center;
    color: #0040c3;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.return-link img {
    margin-right: 5px;
    width: 15px;
}
.title {
    font-size: 31px;
    font-weight: 500;
    color: #0e0e0e;
    margin-bottom: 8px;
}