.profile-card {
    border-radius: 15px;
    background: radial-gradient(1299.58% 495.02% at 41.28% -68.42%, #0040C3 0%, rgba(0, 64, 195, 0.00) 100%);
    color: white;
    /* padding: 25px; */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;

}
.profile-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;

}
.profile-card-details h1 {
    color: #FFF;
    text-align: center;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.profile-card-details .date {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.profile-card-details .location {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.profile-card img {
    border-radius: 15px;
    align-self: flex-end;
    object-fit: cover;
}
.card-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card {
    background-color: #f7f6fb;
    border-radius: 15px;
    width: 46%;
    margin: 20px 0;
    padding: 30px;
    text-align: center;
    border: 1px solid #E0EAFF;
    background: #F7F6FB;
    text-decoration: none;
}
.card h2 {
    color: var(--Colors-Neutral, #0E0E0E);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.card p {
    color: #505050;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}