
body {
    font-family: 'Poppins', sans-serif;
    color: #505050;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.header-title {
    color: #0E0E0E;
    text-align: center;
    font-size: 49px;
    font-weight: 500;
    line-height: 58.8px;
    /* 120% of font size */
    margin: 0 auto 30px auto;
}

.description {
    color: #505050;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    /* 140% of font size */
    margin: 30px auto;
}

.selected-card {
    margin-bottom: 52px;
    /* Add 52px gap */
}

.selected-card .card-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: 290px;
    overflow: hidden;
    background: #f7f6fb;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-selection h5 {
    font-size: 13px;
    margin-bottom: 10px;
}

.style-card {
    width: 64px;
    height: 41px;
    background: #f7f6fb;
    border-radius: 1px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid transparent;
}

.style-card.active {
    border: 1px solid #0040c3;
}

.style-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3px;
}

.form-group label {
    font-weight: 500;
}

.form-control {
    border-radius: 6px;
}

.form-group .required::after {
    content: ' *';
    color: red;
}

.btn-submit {
    text-align: center;
    border-radius: 6px;
    background-color: #0040c3;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

textarea.form-textarea {
    height: auto;
    min-height: 100px;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    border-radius: 6px;
    resize: none;
    outline: none;
}

textarea.form-textarea:focus {
    outline: none;
    box-shadow: none;
}

/* Hide number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    /* Standard property */
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    /* Standard property */
}