/* Import Poppins and Open Sans fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600;700&display=swap');


/********** Template CSS **********/
:root {
    --primary: #0040c3;
    --light: #FFFFFF;
    --dark: #0F172B;
}

html {
    font-size: 16px; /* Default is 16px, but you can change it */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #0E0E0E;
}
/* FONT FAMILIES */

/* Define font weights for Poppins */
.ff-poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.ff-poppins-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.ff-poppins-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.ff-poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* Define font weights for Open Sans */
.ff-open-sans-regular {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.ff-open-sans-semibold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


/* Utility classes for font weights */
.fw-light {
    font-weight: 300 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-extra-bold {
    font-weight: 800 !important;
}

/* define font size*/
.fs-10 {
    font-size: 0.625rem;
}

.fs-13 {
    font-size: 0.812rem;
}

.fs-16 {
    font-size: 1.000rem;
}

.fs-20 {
    font-size: 1.250rem;
}

.fs-25 {
    font-size: 1.562rem;
}

.fs-31 {
    font-size: 1.938rem;
}

.fs-39 {
    font-size: 2.438rem;
}

.fs-49 {
    font-size: 3.062rem;
}

.fs-61 {
    font-size: 3.812rem;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Button ***/
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary{
    background-color: #0040c3;
    color: #FFFFFF;
    border-radius:5px;
}
.btn.btn-secondary {
    color: #FFFFFF;
    border-radius:5px;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

form .error-message {
    color: #dd0909;
    font-size: 14px;
    margin-top: 5px;
}

    /*** Navbar ***/

    .navbar {
        background-color: #fff !important;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }

    .navbar-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav-item {
        margin: 0 20px;
    }

    .navbar-light .navbar-nav .nav-link {
        position: relative;
        padding: 40px 0;
        font-size: 18px;
        color: #0f172b !important;
        font-weight: 200;
        outline: none;
        transition: .5s;
        font-family: 'Poppins', sans-serif;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 20px 0;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: var(--primary) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }

    .sticky-top.navbar-light .navbar-brand img {
        max-height: 45px;
    }

    .nav-item .badge {
        border-radius: 50%;
        background-color: black;
        color: white;
        font-size: 0.75rem;
        top: 23px !important;
        right: -10px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        text-align: center;
    }

    .nav-link.dropdown-toggle::after {
        display: none;
    }

    @media (max-width: 991.98px) {

        .navbar-light .navbar-collapse {
            margin-top: 15px;
            border-top: 1px solid rgba(255, 255, 255, .1)
        }

        .navbar-light .navbar-nav .nav-link,
        .sticky-top.navbar-light .navbar-nav .nav-link {
            padding: 10px 0;
            margin-left: 0;
        }

        .navbar-light .navbar-brand img {
            max-height: 45px;
        }
    }

    @media (min-width: 992px) {
        .navbar-light {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }

        .sticky-top.navbar-light {
            position: fixed;
            width: 100%;
            background: #fff !important;
        }
    }


    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
    }

    .modal-content {
        border: 2px solid #fff;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        z-index: 1050;
    }

    .modal-header {
        border-bottom: 0px !important;
    }

    /* .modal-dialog {
        max-width: 90%;
        max-height: fit-content;
    } */

    .form-control {
        border-radius: 50px;
        background-color: #fdfdfd;
        height: 50px;
        font-size: 13px;
        color: #969696;
    }


    /* Footer */
    .footer {
        background: #1c1c1c;
        color: white;
    }

    .footer a {
        color: white;
        text-decoration: none;
    }

    .footer a:hover {
        color: #ddd;
    }

    .footer-title {
        color: #FFF;
        font-family: "Poppins";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0.875rem;

    }

    .social-icon {
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 15px;
        color: #FFF;
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 16px */
        text-transform: capitalize;
    }

    .social-icon img {
        margin-right: 10px;
    }

    .footer input[type="email"] {
        background: #333;
        border: none;
        color: white;
        padding: 10px;
        flex-grow: 1;
    }

    .footer .subscribe-button {
        flex-shrink: 0;
    }

    .footer-bottom {
        background: #0040C3;
        padding: 20px;
        text-align: center;
        color: white;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 19.5px */
    }

    .footer ul {
        list-style: none;
        padding: 0;
    }

    .footer ul li {
        margin-bottom: 10px;
    }

    .social-icons img,
    .app-link img {
        width: 10px;
    }


    .subscribe-form {
        position: relative;
        width: 355px;
    }

    @media (max-width: 768px) {

        /* Adjust 768px to your breakpoint for "smaller devices" */
        .subscribe-form {
            position: relative;
            width: 100%;
        }
    }

    .subscribe-input {
        width: 100%;
        padding-right: 130px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #2D2D2D;
        box-shadow: none;
        background-color: transparent;
        color: white;
    }

    .subscribe-input::placeholder {
        color: #6F6D6D;
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .subscribe-input:focus {
        background-color: transparent !important;
        outline: none !important;
        color: white;
    }

    .subscribe-button {
        position: absolute;
        right: 9px;
        top: 8px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #0040C3;
        color: white;
        border: none;
        border-radius: 10px;
        height: 34px;
        padding-right: 20px;
        padding-left: 20px;
        color: #FFF;
        text-align: center;
        font-family: "Poppins";
        font-size: 10.111px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    /* Footer */
    .footer h5 {
        margin-bottom: 30px !important;
        color: #F0F0F0;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 16px */
        text-transform: capitalize;
    }

    .footer a {
        color: white;
        text-decoration: none;
        color: #FFF;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 16px */
        text-transform: capitalize;
    }

    .footer a:hover {
        text-decoration: underline;
    }

    .footer .col-lg-3 {
        position: relative;
        margin-bottom: 20px;
    }

    @media (min-width: 992px) {
        .footer .col-lg-3 {
            margin-bottom: 0;
        }
    }

    .footer .list-of-items:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0px;
        width: 1px;
        height: 242px;
        background-color: #303030;
    }

    @media (max-width: 768px) {
        .footer .list-of-items:not(:last-child)::after {
            display: none;
        }
    }

    .footer-bottom-content {
        margin: 0;
        padding: 0;
    }



/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


.student-image {
    position: absolute;
    top: 50%; /* Start at the vertical center */
    left: -108px; /* Align to the left edge */
    transform: translateY(-50%); /* Adjust vertically to truly center */
    width: 271px; /* Adjust based on your preference */
    height: 260px;
    border-radius: 50%; /* Optional: if you want a circular image */
    z-index: 10;
}

.student-image img {
    display: block; /* Ensures the image is displayed correctly */
    width: 100%;
    height: auto;
}
.comma-icon {
    position: absolute;
    right: 20px; /* Adjust based on your preference */
    top: 20px; /* Adjust based on your preference */
    color: grey;
}

.comma-icon img {
    width: 30px; /* Adjust based on your preference */
    filter: grayscale(100%); /* Make the comma grey */
}

.navbar .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}