.container-main {
    padding: 20px;
    background-color: #F7F6FB;
    border: 1px solid #e0eaff;
    border-radius: 15px;
}
.header {
    font-size: 1.938rem; /* fs-31 */
    font-weight: 500;
    color: #0e0e0e;
    margin-bottom: 20px;
}
.add-new-button {
    font-weight: 500;
    font-size: 0.812rem; /* fs-13 */
    background-color: #0040c3;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-primary {
    background-color: #0040c3;
}

.search-field {
    background-color: #fdfdfd;
    border: 0.84px solid #c9dbfe;
    border-radius: 47px;
    padding: 0 25px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-field input {
    border: none;
    outline: none;
    width: 100%;
}
.search-field img {
    width: 18px;
    height: 18px;
}
.table th {
    vertical-align: middle;
    font-size: 1rem; /* fs-16 */
    color: #444444;
    padding: 15px;
}
.table td {
    vertical-align: middle;
    font-size: 0.875rem; /* fs-14 */
    padding: 15px;
}
.table td:last-child {
    text-align: center;
    vertical-align: middle;
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination-details {
    font-size: 0.812rem; /* fs-13 */
    color: #656565;
}
.pagination-links {
    display: flex;
    gap: 10px;
}
.page-link {
    padding: 8px 17px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.812rem; /* fs-13 */
    color: #656565;
}
.current-page {
    background-color: #0040c3;
    color: #fff;
}
.modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 720px;
    position: relative;
}
.header {
    font-size: 1.562rem; /* fs-25 */
    font-weight: 500;
    color: #0e0e0e;
    text-align: center;
    margin-bottom: 20px;
}
.upload-section {
    background-color: #f7f7f7;
    border: 1px dashed #0040c3;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
}
.upload-icon {
    width: 63px;
    height: 63px;
    margin-bottom: 20px;
}
.upload-text {
    font-size: 1.25rem; /* fs-20 */
    font-weight: 400;
    color: #898989;
    margin-bottom: 20px;
}
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.divider img {
    width: 100px;
}
.browse-button {
    background-color: #0040c3;
    color: #fff;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 0.812rem; /* fs-13 */
    font-weight: 500;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
}
.file-size-text {
    font-size: 0.812rem; /* fs-13 */
    font-weight: 400;
    color: #898989;
}
.header {
    font-size: 1.938rem; /* fs-31 */
    font-weight: 500;
    color: #0e0e0e;
    margin-bottom: 10px;
}
.subtext {
    font-size: 1rem; /* fs-16 */
    font-weight: 400;
    color: #898989;
    margin-bottom: 30px;
}
.close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.cancel-button {
    color: #bd3d44;
    font-size: 0.812rem; /* fs-13 */
    font-weight: 500;
    padding: 5px 12px;
    border: none;
    background: none;
    cursor: pointer;
}
.delete-button {
    background-color: #bd3d44;
    color: #fff;
    font-size: 0.812rem; /* fs-13 */
    font-weight: 500;
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header {
    font-size: 1.562rem; /* fs-25 */
    font-weight: 500;
    color: #0e0e0e;
    margin-bottom: 10px;
}
.subtext {
    font-size: 1rem; /* fs-16 */
    font-weight: 400;
    color: #898989;
    margin-top: 10px;
    text-align: center;
}
.close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.container-main .nav-item {
    margin: 0;
}
.container-main .nav-pills .nav-link {
    color: #444444!important;
    background: none!important;
    border: 1px solid #adadad;
    font-size: 0.812rem; /* fs-13 */
}
.container-main .nav-pills .nav-link:hover {
    border: 1px solid #0040c3;
}
.container-main .nav-pills .nav-link.active {
    background: #0040c3!important;
    color: white!important;
    border: 1px solid #0040c3;
}

/* Responsive adjustments */
@media (max-width: 1199.98px) {
    .header {
        font-size: 1.562rem; /* fs-25 */
    }
    .upload-text {
        font-size: 1rem; /* fs-16 */
    }
}

@media (max-width: 1024px) {
    .container-main .nav-pills {
        display: flex;
        flex-wrap: wrap; /* Allow wrapping */
        gap: 10px; /* Add gap between nav pills */
        justify-content: flex-start; /* Align nav pills to the left */
    }
    .container-main .nav-pills .nav-link {
        white-space: nowrap; /* Ensure text stays in one line */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .container-main .nav-item {
        text-align: left; /* Align nav items to the left */
    }
}

@media (max-width: 991.98px) {
    .header {
        font-size: 1.25rem; /* fs-20 */
    }
    .upload-text {
        font-size: 0.812rem; /* fs-13 */
    }
    .container-main .nav-pills .nav-link {
        font-size: 0.75rem; /* fs-12 */
        padding: 8px 12px;
    }
}

@media (max-width: 767.98px) {
    .header {
        font-size: 1rem; /* fs-16 */
    }
    .upload-text {
        font-size: 0.75rem; /* fs-12 */
    }
    .container-main .nav-pills {
        flex-direction: initial;
        align-items: stretch;
        gap: 10px; /* Add gap between nav pills */
    }
    .container-main .nav-pills .nav-link {
        font-size: 0.6875rem; /* fs-11 */
        padding: 6px 10px;
    }
}

@media (max-width: 575.98px) {
    .container-main .nav-pills {
        flex-direction: initial;
        align-items: stretch;
        gap: 10px; /* Add gap between nav pills */
    }
    .container-main .nav-pills .nav-link {
        font-size: 0.6875rem; /* fs-11 */
        padding: 6px 10px;
    }
    /* .table {
        margin-right: 50px; /* Add more space to the right of the table 
    } */

    .table-responsive {
        overflow-x: auto;
        padding-right: 40px;  
    }
}