body {
    padding-top: 58px;
}

/* Navigation Bar Styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: #898989;
    padding: 10px 15px;
    transition: all .3s ease;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: #0040c3;
}

.product-heading {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 61px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 85.4px */
    margin-bottom: 20px; /* Add margin to create space */
    padding-top: 30px; /* Add top padding */
}

/* Responsive Font Sizes for Product Heading */
@media (max-width: 1199.98px) {
    .product-heading {
        font-size: 3rem; /* fs-61 */
    }
}

@media (max-width: 991.98px) {
    .product-heading {
        font-size: 2.5rem; /* fs-61 */
    }
}

@media (max-width: 767.98px) {
    .product-heading {
        font-size: 2rem; /* fs-61 */
    }
}

.category-tabs {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    border: none;
}

.no-data {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
    color: #b85656;
}

.category-tabs .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: #898989;
    padding: 0;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    transition: all .3s ease;
    border: none;
}

.category-tabs .nav-link.active,
.category-tabs .nav-link:hover {
    color: #0040c3;
    border-bottom: 3px solid #0040c3;
}

.card-custom {
    background: #fff;
    border-radius: 20px;
    border: 1px solid #cfcfcf;
    padding: 10px;
    height: 550px;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.product-info {
    padding: 10px;
}

.product-info .category,
.product-info .price,
.product-info .product-name,
.product-info .rating {
    display: block;
}

.product-info .category {
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, .5);
}

.product-info .product-name {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 30px;
}

.product-info .price {
    font-size: 32px;
    font-weight: 500;
    color: #0040c3;
}

.product-info .color-options img {
    width: 16px;
    height: 16px;
    margin: 0 2px;
}

.product-info .strike-price {
    color: #898989;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.rating img {
    vertical-align: middle;
}

.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0040c3;
    color: #0040c3;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border-radius: 5px;
    padding: 8px 32px;
    margin-top: 10px;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    background-color: white;
    transition: all 0.3s;
}

.cta-button:hover {
    color: white;
    background-color: #0040c3;
    transition: all 0.3s;
}

.cta-button-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border-radius: 5px;
    padding: 8px 32px;
    margin-top: 10px;
    text-decoration: none;
    width: 100%;
    background-color: rgb(161 161 161);
}

.cta-button img {
    margin-right: 10px;
}

.membership-offer {
    background: #0040c3;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 150%;
    width: 45%;
}

.row-horizontal {
    display: flex;
    padding: 20px;
}

.product-name {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.courses-membership-offer {
    position: absolute;
    top: 20px;
    left: 135px;
    background: #0040c3;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 150%;
}

.add-to-cart-modal .product-caption {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: #000;
    text-align: center;
    margin-top: 10px
}

.heading-text {
    color: #000;
    font-size: 49px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

/* Responsive Styles */
@media (max-width: 1199.98px) {
    .navbar .nav-link {
        font-size: 18px;
    }

    .no-data {
        font-size: 25px;
    }

    .category-tabs .nav-link {
        font-size: 16px;
    }

    .card-custom {
        height: auto;
    }

    .card-img {
        height: 250px;
    }

    .product-info .category {
        font-size: 12px;
    }

    .product-info .product-name {
        font-size: 16px;
    }

    .product-info .price {
        font-size: 25px;
    }

    .product-info .strike-price {
        font-size: 25px;
    }

    .cta-button,
    .cta-button-disabled {
        font-size: 16px;
        padding: 6px 24px;
    }

    .membership-offer {
        font-size: 12px;
    }

    .courses-membership-offer {
        font-size: 12px;
    }

    .heading-text {
        font-size: 2.5rem; /* fs-49 */
    }
}

@media (max-width: 991.98px) {
    .navbar .nav-link {
        font-size: 16px;
    }

    .no-data {
        font-size: 20px;
    }

    .category-tabs .nav-link {
        font-size: 13px;
    }

    .card-custom {
        height: auto;
    }

    .card-img {
        height: 200px;
    }

    .product-info .category {
        font-size: 10px;
    }

    .product-info .product-name {
        font-size: 13px;
    }

    .product-info .price {
        font-size: 20px;
    }

    .product-info .strike-price {
        font-size: 20px;
    }

    .cta-button,
    .cta-button-disabled {
        font-size: 13px;
        padding: 4px 16px;
    }

    .membership-offer {
        font-size: 10px;
    }

    .courses-membership-offer {
        font-size: 10px;
    }

    .heading-text {
        font-size: 1.5rem; /* fs-49 */
    }
}

@media (max-width: 767.98px) {
    .navbar .nav-link {
        font-size: 14px;
    }

    .no-data {
        font-size: 16px;
    }

    .category-tabs .nav-link {
        font-size: 12px;
    }

    .card-custom {
        height: auto;
    }

    .card-img {
        height: 150px;
    }

    .product-info .category {
        font-size: 10px;
    }

    .product-info .product-name {
        font-size: 12px;
    }

    .product-info .price {
        font-size: 16px;
    }

    .product-info .strike-price {
        font-size: 16px;
    }

    .cta-button,
    .cta-button-disabled {
        font-size: 12px;
        padding: 3px 12px;
    }

    .membership-offer {
        font-size: 10px;
    }

    .courses-membership-offer {
        font-size: 10px;
    }

    .heading-text {
        font-size: 1.25rem; /* fs-49 */
    }
}