body{
    padding-top: 120px;
}

.category-tabs {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    border: none
}

.category-tabs .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: #898989;
    padding: 0;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    transition: all .3s ease;
    border: none
}

.category-tabs .nav-link.active,
.category-tabs .nav-link:hover {
    color: #0040c3;
    border-bottom: 3px solid #0040c3
}

.card-custom {
    background: #fff;
    border-radius: 20px;
    border: 1px solid #cfcfcf;
    padding: 10px;
    height: 550px;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px
}

.product-info {
    padding: 10px
}

.product-info .category,
.product-info .price,
.product-info .product-name,
.product-info .rating {
    display: block
}

.product-info .category {
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, .5)
}

.product-info .product-name {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 30px
}

.product-info .price {
    font-size: 32px;
    font-weight: 500;
    color: #0040c3
}

.product-info .color-options img {
    width: 16px;
    height: 16px;
    margin: 0 2px
}

.product-info .strike-price {
    color: #898989;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px
}

.rating img {
    vertical-align: middle
}

.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0040c3;
    color: #0040c3;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border-radius: 5px;
    padding: 8px 32px;
    margin-top: 10px;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    background-color: white;
    transition: all 0.3s;
}
.cta-button:hover {
    color: white;
    background-color: #0040c3;
    transition: all 0.3s;
}
.cta-button-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border-radius: 5px;
    padding: 8px 32px;
    margin-top: 10px;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    background-color: rgb(161 161 161);
}

.cta-button img {
    margin-right: 10px
}

.membership-offer {
    background: #0040c3;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 150%;
    width: 45%
}

.row-horizontal {
    display: flex;
    padding: 20px
}

.product-name {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.courses-membership-offer {
    position: absolute;
    top: 20px;
    left: 135px;
    background: #0040c3;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 150%
}


/* Show the white image and product details by default */
#image-white {
    display: block;
}

#image-blue,
#image-dark-blue {
    display: none;
}

/* Hide all product names and prices by default */
#product-name-white,
#product-name-blue,
#product-name-dark-blue,
#price-white,
#price-blue,
#price-dark-blue {
    display: none;
}

/* Show the selected image, product name, and price based on the radio button */
#color-white:checked~#image-white {
    display: block;
}

#color-white:checked~#image-blue,
#color-white:checked~#image-dark-blue {
    display: none;
}

#color-blue:checked~#image-blue {
    display: block;
}

#color-blue:checked~#image-white,
#color-blue:checked~#image-dark-blue {
    display: none;
}

#color-dark-blue:checked~#image-dark-blue {
    display: block;
}

#color-dark-blue:checked~#image-white,
#color-dark-blue:checked~#image-blue {
    display: none;
}

/* Product names */
#color-white:checked~.product-info #product-name::after {
    content: "ISSN T-shirt (White)";
}

#color-blue:checked~.product-info #product-name::after {
    content: "ISSN T-shirt (Klein Blue)";
}

#color-dark-blue:checked~.product-info #product-name::after {
    content: "ISSN T-shirt (Blue)";
}

#color-white:checked~.product-info #product-name::before {
    content: "ISSN T-shirt (White)"
}

#color-blue:checked~.product-info #product-name::before {
    content: "ISSN T-shirt (Klein Blue)"
}

#color-dark-blue:checked~.product-info #product-name::before {
    content: "ISSN T-shirt (Blue)"
}

/* Hide the membership offer by default */
.membership-offer-container {
    display: none;
}

/* Show the membership offer ONLY when the blue color is selected */
#color-blue:checked~.membership-offer-container {
    display: block;
}

/* Ensure it doesn't show for white or dark blue selections */
#color-white:checked~.membership-offer-container,
#color-dark-blue:checked~.membership-offer-container {
    display: none;
}


/* Color options */
.color-options label {
    cursor: pointer;
    margin-left: 10px;
}

.color-radio {
    display: none;
}

.card-custom .nav-arrow {
    display: none;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #606060;
    cursor: pointer;
    z-index: 1;
}

.card-custom .left-arrow {
    left: 10px;
}

.card-custom .right-arrow {
    right: 10px;
}

.card-custom:hover .nav-arrow {
    display: block;
}

.card-custom:hover {
    border: 1px solid #b1b1b1;
}

.color-radio:checked+.color-label svg {
    border: 2px solid #000;
    border-radius: 50%;
}

.clothing-price::before {
    content: "$23";
    font-size: 32px;
    font-weight: 500;
    color: #0040c3;
}

#color-blue:checked~.product-info .clothing-price::before {
    content: "$23";
    text-decoration: line-through;
    color: #898989;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: strikethrough;
}

#color-blue:checked~.product-info .clothing-price::after {
    content: "$20";
    color: #0040c3;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#image-dark-blue-3,
#price-dark-blue-3,
#product-name-dark-blue-3 {
    display: none
}



#color-blue-3:checked~#image-blue-3,
#color-blue-3:checked~.product-info #price-blue-3,
#color-blue-3:checked~.product-info #product-name-blue-3,
#color-blue-3:checked~.product-info #strike-price-blue-3 {
    display: block
}

#color-dark-blue-3:checked~#image-dark-blue-3,
#color-dark-blue-3:checked~.product-info #price-dark-blue-3,
#color-dark-blue-3:checked~.product-info #product-name-dark-blue-3 {
    display: block
}

#color-blue-3:checked~#image-dark-blue-3,
#color-blue-3:checked~.product-info #price-dark-blue-3,
#color-blue-3:checked~.product-info #product-name-dark-blue-3,
#color-dark-blue-3:checked~#image-blue-3,
#color-dark-blue-3:checked~.product-info #price-blue-3,
#color-dark-blue-3:checked~.product-info #product-name-blue-3,
#color-dark-blue-3:checked~.product-info #strike-price-blue-3 {
    display: none
}

.membership-offer-container {
    display: none
}

#color-blue-3:checked~.membership-offer-container {
    display: block
}

#color-blue:checked~.membership-offer-container {
    display: block
}

#image-2-colors-4,
#image-blue-4,
#price-2-colors-4,
#price-blue-4,
#product-name-2-colors-4,
#product-name-blue-4 {
    display: none
}

#color-white-4:checked~#image-white-4,
#color-white-4:checked~.product-info #price-white-4,
#color-white-4:checked~.product-info #product-name-white-4 {
    display: block
}

#color-blue-4:checked~#image-blue-4,
#color-blue-4:checked~.product-info #price-blue-4,
#color-blue-4:checked~.product-info #product-name-blue-4 {
    display: block
}

#color-2-colors-4:checked~#image-2-colors-4,
#color-2-colors-4:checked~.product-info #price-2-colors-4,
#color-2-colors-4:checked~.product-info #product-name-2-colors-4 {
    display: block
}

#color-2-colors-4:checked~#image-blue-4,
#color-2-colors-4:checked~#image-white-4,
#color-2-colors-4:checked~.product-info #price-blue-4,
#color-2-colors-4:checked~.product-info #price-white-4,
#color-2-colors-4:checked~.product-info #product-name-blue-4,
#color-2-colors-4:checked~.product-info #product-name-white-4,
#color-blue-4:checked~#image-2-colors-4,
#color-blue-4:checked~#image-white-4,
#color-blue-4:checked~.product-info #price-2-colors-4,
#color-blue-4:checked~.product-info #price-white-4,
#color-blue-4:checked~.product-info #product-name-2-colors-4,
#color-blue-4:checked~.product-info #product-name-white-4,
#color-white-4:checked~#image-2-colors-4,
#color-white-4:checked~#image-blue-4,
#color-white-4:checked~.product-info #price-2-colors-4,
#color-white-4:checked~.product-info #price-blue-4,
#color-white-4:checked~.product-info #product-name-2-colors-4,
#color-white-4:checked~.product-info #product-name-blue-4 {
    display: none
}

.add-to-cart-modal .modal .modal-dialog {
    max-width: 1000px
}

.add-to-cart-modal .modal-content {
    border-radius: 20px;
    padding: 20px;
    background: #fff
}

.add-to-cart-modal .product-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 20px
}

.add-to-cart-modal .category,
.add-to-cart-modal .cta-button,
.add-to-cart-modal .description,
.add-to-cart-modal .price,
.add-to-cart-modal .size-guide,
.add-to-cart-modal .sizes,
.add-to-cart-modal .title {
    display: block
}

.add-to-cart-modal .category,
.add-to-cart-modal .reviews {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: rgba(0, 0, 0, .5)
}

.add-to-cart-modal .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000
}

.add-to-cart-modal .price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #0040c3
}

.add-to-cart-modal .colors-available {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: rgba(0, 0, 0, .5)
}

.add-to-cart-modal .color-option img {
    width: 16px;
    height: 16px;
    border-radius: 50%
}

.add-to-cart-modal .description {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #505050
}

.add-to-cart-modal .size-guide {
    font-size: 13px;
    font-weight: 600;
    color: #0040c3;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none
}

.add-to-cart-modal .sizes {
    display: flex;
    gap: 10px
}

.add-to-cart-modal .size-option {
    border: 1px solid #505050;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer
}

.add-to-cart-modal .size-option.selected {
    border-color: #0040c3
}

.add-to-cart-modal .cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    border: 1px solid #0040c3;
    color: #0040c3;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer
}

.add-to-cart-modal .cta-button img {
    width: 24px;
    height: 24px
}

.add-to-cart-modal .product-container {
    display: flex;
    gap: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border: .345px solid #cfcfcf
}

.add-to-cart-modal .product-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.add-to-cart-modal .product-gallery .item {
    padding: 3.45px;
    border-radius: 6.909px;
    border: .345px solid #cfcfcf;
    background: #fff;
    width: 98.8px;
    height: 145px
}

.add-to-cart-modal .product-gallery .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit
}

.add-to-cart-modal .product-main {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #505050;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center
}

.add-to-cart-modal .product-main img {
    width: 266px;
    height: 400px;
    border-radius: 20px
}

.add-to-cart-modal .product-caption {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: #000;
    text-align: center;
    margin-top: 10px
}

.heading-text {
    color: #000;
    font-size: 49px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%
}