.container-main {
    padding: 30px;
    background-color: #F7F6FB;
    border: 1px solid #e0eaff;
    border-radius: 15px;
}
.header-section {
    text-align: center;
    margin-bottom: 30px;
}
.header-section h1 {
    font-size: 31px;
    font-weight: 500;
    color: #0e0e0e;
    margin-bottom: 10px;
}
.form-label {
    font-size: 20px;
    font-weight: 400;
    color: #505050;
    margin-bottom: 15px;
}
.form-control {
    background-color: transparent;
    border-radius: 10px;
}
.form-control::placeholder {
    color: #b9b9b9;
    font-size: 13px;
    font-weight: 400;
}
.view-history {
    color: #0040c3;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.view-history img {
    margin-right: 5px;
}
.icon-history {
    margin-right: 5px;
}
.btn-submit {
    background-color: #0040c3;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 50px;
}