.sidebar {
    background-color: #0040C3;
    color: FFFFFF;
    padding: 20px;
    border-radius: 15px;
    /* margin-top: 5rem; */
    transition: transform 0.3s ease-in-out;
}
.sidebar-link {
    text-decoration: none;
}
.sidebar-item {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 20px;
    border-bottom: 1px solid #1957d6;
}
.sidebar-item img {
    margin-right: 20px;
}
.sidebar-item span {
    font-family: 'Inter', sans-serif;
    /* font-size: 25px; */
    color: #ffffff;
    flex-grow: 1;
}
.sidebar-item:hover {
    background-color: #4b62ca;
    border-radius: 10px;
}
.sidebar-item.active {
    background-color: #4b62ca;
    border-radius: 10px;
}
.sidebar-profile-card {
    text-align: center;
    padding: 20px 0;
    position: relative;
    background-color: transparent;
    top: -70px;
    margin-bottom: -50px;
}
.sidebar-profile-container {
    position: relative;
    width: 115px;
    height: 115px;
    margin: 0 auto;
}

.sidebar-edit-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F7BF2E;
    border-radius: 50%;
    padding: 2px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
}
.sidebar-edit-icon img {
    width: 16px;
    height: 16px;
}
.sidebar-profile-card h2 {
    /* font-size: 31px; */
    font-weight: 500;
    margin-top: 10px;
    color: white;
}
.sidebar-profile-card p {
    /* font-size: 20px; */
    font-weight: 400;
    color: white;
}
.sidebar-profile-card img.location-icon {
    margin-right: 5px;
}

.sidebar-toggle {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: #0040C3;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.sidebar-toggle img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

/* Add media queries */
@media (max-width: 991px) {
    .sidebar-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem !important;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        margin-top: 0;
        border-radius: 0;
        transform: translateX(-100%);
        overflow-y: auto;
    }

    .sidebar.show {
        transform: translateX(0);
        /* margin-top: 4rem; */
        margin-bottom: 4rem;
    }

    .sidebar-profile-card {
        margin-top: 7rem;
    }
}