body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    /* padding-top: 120px; */
}

.dashboard {
    padding-top: 4rem !important;
}

@media (max-width: 991.98px) {
    .dashboard {
        padding-top: 0 !important;
    }
}

@media (max-width: 767.98px) {
    .dashboard {
        padding-top: 0 !important;
    }
}

@media (max-width: 575.98px) {
    .dashboard {
        padding-top: 0 !important;
    }
}

.sidebar-profile-card img.profile-img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}
.container-main {
    padding: 50px 100px;
    background-color: #F7F6FB;
    border: 1px solid #e0eaff;
    border-radius: 15px;
    overflow: hidden;
}


.no-data {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
    color: red;
}
body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}


.profile-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    .profile-card {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.profile-image {
    max-width: 171px;
    height: auto;
    border-radius: 8px;
}

.location-icon {
    width: 24px;
    height: 24px;
}

.card {
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: translateY(-5px);
}

.container-main {
    padding: 20px;
    background-color: #F7F6FB;
    border: 1px solid #e0eaff;
    border-radius: 15px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .container-main {
        padding: 50px 100px;
    }
}

.no-data {
    font-size: calc(1.2rem + 0.6vw);
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
    color: red;
}

