.different-section {
    padding: 60px 50px;
    padding-top: 100px;
    background-color: white;
    color: #505050;
}

.different-section h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    color: #0E0E0E;
    text-align: center;
    font-family: Poppins;
    font-size: 61px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 73.2px */
}

.different-section p {
    color: #505050;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 35px */
}

.different-section .image-placeholder {
    width: 100%;
    background-color: black;
    margin-bottom: 30px;
}


.regions-languages-section {
    background-color: #0040C3;
    color: white;
    padding: 60px 15px;
}

.regions-languages-section h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 49px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 58.8px */
}

.regions-languages-section p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 35px */
}
.map-background {
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.text-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center; /* Center the text within the container */
}

.language-heading{
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 30px */
}
.regions-list,
.languages-list,
.population-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}.regions-list li::before,
.languages-list li::before,
.population-list li::before {
    content: url('/storage/frontend/charm-circle-tick-3.svg');
    display: inline-block;
    margin-left: -1em;
    margin-right: 0.5em; /* Add space between the tick icon and the text */
    transform: scale(0.3); /* Adjust the scale value to reduce the size */
    width: 0.5em; /* Optional: Set a specific width */
    height: 0.5em; /* Optional: Set a specific height */
}

/* Hide default list style */
.regions-list li,
.languages-list li,
.population-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 25px;
}

.languages-list li {
    list-style-type: none !important;
    /* Removes the bullet points */
    background-repeat: no-repeat;
    /* Prevents the background image from repeating */
    padding-left: 50px; /* Increased padding to provide more space for the image */
    height: 35px;
    /* Adjust based on your image size */
    background-size: 30px 30px;
    /* Adjust based on your image size */
    background-position: left center;
    /* Aligns the image to the left and vertically centers it */
    display: flex;
    align-items: center;
    /* Centers the text vertically next to the image */
}

.languages-list li {
    /* background-image: url('../../../storage/frontend/circle-tick.svg'); */
    background-size: 12px 12px;
    /* Adjusts the size of the icon */
    background-position: 10px center; /* Adjusts the position to leave space between the icon and text */
}

.languages-box {
    border: 1px solid #648AD6;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
}

.regions-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.text-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.language-offerings-section {
    background-color: #f8f9fa;
    color: #505050;
    padding: 60px 15px;
    text-align: center;
}

.language-offerings-section p{
    color: #505050;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.language-offerings-section h4 {
    color: #505050;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.blue-text {
    color: #0040C3;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 35px */
}

.languages-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.languages-list li::before {
    content: none;
    color: #006bff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.highlight {
    color: #006bff;
    font-weight: 600;
}

a {
    color: #006bff;
    text-decoration: none;
}

.horizontal-tick-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.horizontal-tick-list li {
    position: relative;
    padding-left: 20px;
    margin-right: 20px;
    color: #505050;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.horizontal-tick-list li::before {
    content: url('/storage/frontend/charm-circle-tick-2.svg');
    position: absolute;
    left: 0;
    transform: scale(0.5); /* Adjust the scale value to reduce the size */
    width: 0.5em; /* Optional: Set a specific width */
    height: 0.5em; /* Optional: Set a specific height */
}


